<?xml version="1.0" encoding="utf-8" ?>
<suite name="rplanTest" parallel="false">
    <test name="策划中心">
        <class name=""></class>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>